/* div {background-color: burlywood;} */

/* #editorContainer{
    background-color: black;
} */
input[type=text]:focus {
  border: 3px solid #555;
}
.title {
    width: 350px;
    height: 50%;
    /* align-items: center; */
    font-size: 25px;
    margin-top: 16px
}

.editor-header {
    /* flex-direction: row; */
    display: flex;
    flex-wrap: nowrap;
}
.header {
    justify-content: space-around;
    
}
.save-button {
    float: right;
    height: 100px;
    width: 300px;
    margin-right: 200px;
}

.pinned-content {
    /* justify-content: center; */
    /* float: center; */
    margin-bottom: 25px;
    outline: 5px;
    justify-content: flex-end;
    margin-left: 400px;
}